n8n/workflows/crawl-notification.json
{
  "name": "Crawl Notification Handler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "crawl-notification",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-completed",
              "leftValue": "={{ $json.data.type }}",
              "rightValue": "crawl_completed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "condition-type",
      "name": "Check Notification Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "channel": "#crawl-notifications",
        "text": "=✅ *Crawl Completed*\n\n*Job:* {{ $json.data.jobName }}\n*Platform:* {{ $json.data.platform }}\n*Records:* {{ $json.data.statistics.recordsExtracted || 0 }}\n*Duration:* {{ $json.data.statistics.durationSeconds || 0 }}s\n\n{{ $json.data.message }}",
        "otherOptions": {}
      },
      "id": "slack-success",
      "name": "Slack Success",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [690, 200],
      "credentials": {
        "slackApi": {
          "id": "slack-credentials",
          "name": "Slack API"
        }
      }
    },
    {
      "parameters": {
        "channel": "#crawl-alerts",
        "text": "=⚠️ *Crawl Alert*\n\n*Job:* {{ $json.data.jobName }}\n*Platform:* {{ $json.data.platform }}\n*Status:* {{ $json.data.status }}\n*Type:* {{ $json.data.type }}\n\n{{ $json.data.message }}\n\n{{ $json.data.error ? 'Error: ' + $json.data.error : '' }}",
        "otherOptions": {}
      },
      "id": "slack-alert",
      "name": "Slack Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [690, 400],
      "credentials": {
        "slackApi": {
          "id": "slack-credentials",
          "name": "Slack API"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "received"
            }
          ]
        },
        "options": {}
      },
      "id": "response",
      "name": "Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [910, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Check Notification Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Notification Type": {
      "main": [
        [
          {
            "node": "Slack Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Success": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Alert": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": ["crawl", "notification"]
}
