n8n/workflows/quality-alert.json
{
  "name": "Quality Alert Handler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "quality-alert",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Quality Alert Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-critical",
              "leftValue": "={{ $json.data.severity }}",
              "rightValue": "critical",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-severity",
      "name": "Check Severity",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "channel": "#crawl-alerts",
        "text": "=🚨 *CRITICAL Quality Alert*\n\n*Job:* {{ $json.data.jobName }}\n*Platform:* {{ $json.data.platform }}\n*Issue:* {{ $json.data.issue }}\n\n{{ JSON.stringify($json.data.details, null, 2) }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "slack-critical",
      "name": "Slack Critical Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [690, 200],
      "credentials": {
        "slackApi": {
          "id": "slack-credentials",
          "name": "Slack API"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "alerts@pathfinding.app",
        "toEmail": "admin@pathfinding.app",
        "subject": "=🚨 Critical Crawl Quality Alert - {{ $json.data.platform }}",
        "emailFormat": "html",
        "message": "=<h2>Critical Quality Alert</h2>\n<p><strong>Job:</strong> {{ $json.data.jobName }}</p>\n<p><strong>Platform:</strong> {{ $json.data.platform }}</p>\n<p><strong>Issue:</strong> {{ $json.data.issue }}</p>\n<p><strong>Severity:</strong> {{ $json.data.severity }}</p>\n<pre>{{ JSON.stringify($json.data.details, null, 2) }}</pre>",
        "options": {}
      },
      "id": "email-critical",
      "name": "Email Critical Alert",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [910, 200],
      "credentials": {
        "smtp": {
          "id": "smtp-credentials",
          "name": "SMTP"
        }
      }
    },
    {
      "parameters": {
        "channel": "#crawl-alerts",
        "text": "=⚠️ *Quality Alert ({{ $json.data.severity }})*\n\n*Job:* {{ $json.data.jobName }}\n*Platform:* {{ $json.data.platform }}\n*Issue:* {{ $json.data.issue }}",
        "otherOptions": {}
      },
      "id": "slack-warning",
      "name": "Slack Warning",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [690, 400],
      "credentials": {
        "slackApi": {
          "id": "slack-credentials",
          "name": "Slack API"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "alert_processed"
            }
          ]
        },
        "options": {}
      },
      "id": "response",
      "name": "Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [1130, 300]
    }
  ],
  "connections": {
    "Quality Alert Webhook": {
      "main": [
        [
          {
            "node": "Check Severity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Severity": {
      "main": [
        [
          {
            "node": "Slack Critical Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack Warning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Critical Alert": {
      "main": [
        [
          {
            "node": "Email Critical Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Critical Alert": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Warning": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": ["quality", "alerts"]
}
